@import "src/shared/styles/variables";

.navigationBtn {
  width: 60px;
  height: 37px;
  background: transparent;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;

  span {
    display: block;
    width: 46px;
    height: 3px;
    background: $white;
  }
}

.navigationHome {
  display: flex;
  align-items: center;

  .title {
    margin: 0 9px;
    font-size: 2.3rem;
    color: $HomeTextTitle;
    font-weight: 700;
    letter-spacing: 0.07px;
    text-shadow: $HomeTextShadow;
  }
}

.navigationDrawerNav {
  height: 100%;
}

@media (max-width: 768px) {
  .navigationBtn {
    display: flex;
    margin-right: 20px;
  }

  .navigationHeaderNav {
    display: none;
  }
}
