@import "src/shared/styles/variables";

.navLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    margin: 10px;
  }

  a {
    padding: 5px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 600;
    color: #292929;
    letter-spacing: 0.06px;
    text-transform: uppercase;
    transition: 0.4s all ease;

    &:hover,
    &:active,
    &.active {
      border-bottom: $menuItemBorder
    }
  }
}

@media (min-width: 768px) {
  .navLinks {
    flex-direction: row;

    li {
      margin: 0 8px;
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }
}
