.auth {
  margin: 4% auto 0;
  padding: 4% 1%;
  width: 55%;
  max-width: 1000px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: #232341;

  .authTitle {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  .authName {
    width: 70%;
    margin: 2.5rem 2.5rem 0 0;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem -4.5rem 0;
}

.switchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 2rem auto 0;
  width: 55%;
  max-width: 1000px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: #232341;
  flex-wrap: wrap;

  h4 {
    margin: 5px
  }
}

@media (max-width: 768px) {
  .auth {
    width: 90%;
    padding: 4%;
  }

  .switchBox {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .auth {
    .authName {
      width: 100%;
      margin: 2.5rem 0 0 0;
    }
  }

  .row {
    justify-content: center;
    flex-wrap: wrap;
  }
}


