.placeItem {
  display: flex;
  flex: 1;
  margin: 1.5rem;
  width: 100%;
  justify-content: center;
}

.placeContent {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 18px;
}

.placeImage {
  width: 100%;
  height: 500px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.placeInfo {
  flex: 1 0 auto;
  padding: 10px;
  text-align: center;

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.07px;
    margin: 0 0 10px 0;
  }
  h3 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.06px;
    margin: 0 0 5px 0;
  }
  p {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05px;
    opacity: 0.7
  }
}

.placeActions {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #181729;;

  a {
    margin: 5px;
  }

  button {
    margin: 5px;
  }
}

.placeModalContent {
  padding: 0;
}

.placeModalActions {
  text-align: right;
}

.mapContainer {
  height: 200px;
  width: 100%;
}

.deletePlaceTitle {
  margin: 1rem;
  color: #000;
}


@media (max-width: 1200px) {
  .placeItem {
    flex: none;
    max-width: none;
  }
}

@media (max-width: 768px) {
  .placeImage {
    height: 250px;
  }
}
