@mixin scrollbars($size, $borderRadius, $foregroundColor, $backgroundColor: mix($foregroundColor, white,  50%)) {
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $borderRadius;
    background: $foregroundColor;
  }

  &::-webkit-scrollbar-track {
    background: $backgroundColor;
  }

  & {
    scrollbar-face-color: $foregroundColor;
    scrollbar-track-color: $backgroundColor;
  }
}
