$white: #fff;
$black: #000;
$mainDark: #232341;
$mainDarker: #181729;
$userCardHover: #3d475e45;
$headerModal: #2a006e;
$menuItemBorder: 2px solid #4419ffb3;
$HomeTextTitle: #5c37ffcc;
$HomeTextShadow: 3px 3px #1a436994;
$drawerShadow: 0 2px 8px rgba(0, 0, 0, 0.26);
$backdrop: rgba(0, 0, 0, 0.75);



