$white: #fff;
$black: #000;
$mainDark: #232b41;
$mainDarker: #181729;
$userCardHover: #3d475e45;
$headerModal: #2a006e;
$menuItemBorder: 2px solid #4278ed;
$HomeTextTitle: #457bea;
$HomeTextShadow: 3px 3px #1a4369;
$drawerShadow: 0 2px 8px rgba(0, 0, 0, 0.26);
$backdrop: rgba(0, 0, 0, 0.75);



