.button {
  font: inherit;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 3px;
  background: #4419ffe6;
  color: white;
  cursor: pointer;
  margin-right: 1px;
  text-decoration: none;
  transition:all .1s ease-out;
  display: inline-block;

  &:focus {
    outline: none;
  }

  &:hover,
  &:active {
    background: #4419ff;
    border-color: transparent;
  }

  &:disabled,
  &:hover:disabled,
  &:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
}

.buttonInverse {
  background: transparent;
  border-color: #4419ffe6;
  color: #4419ffe6;

  &:hover,
  &:active {
    color: white;
    background: #4419ffe6;
  }
}

.buttonDanger {
  background: #830000;
  border-color: #830000;

  &:hover,
  &:active {
    background: #a50f0f;
    border-color: #a50f0f;
  }
}
.small {
  padding: 0.3rem 0.5rem;
  font-size: 11px;
}

.big {
  padding: 0.8rem 3.8rem;
  font-size: 18px;
}

@media (max-width: 768px) {
  .big {
    display: flex;
    padding: 0.5rem 2rem;
    margin: auto;
  }
}
