.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

.modalHeader {
  width: 100%;
  padding: 16px 8px;
  background: #2a006e;
  color: white;

  h2 {
    margin: 5px;
  }
}

.modalContent {
  padding: 10px 5px;
}

.modalFooter {
  padding: 16px 8px;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 320px);
    width: 640px;
  }
}
