.auth {
  margin: 4% auto 0;
  padding: 14px;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: #232b41;

  .authTitle {
    text-align: center;
    text-transform: uppercase;
  }
}

.switchBox {
  text-align: center;
  margin: 2% auto 0;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: #232b41;

  button {
    margin: 0 0 0 10px;
  }
}
